<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem Sou Eu API</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1>Localizador API</h1>
        <p>Use esta API para obter informações sobre o IP, idioma e software do usuário que faz a requisição.</p>
        <h2>Instruções</h2>
        <p>Você pode fazer uma requisição GET ao seguinte endpoint:</p>
        <ul>
            <li><code>/api/whoami</code> - Retorna informações sobre o usuário</li>
        </ul>
        <h3>Exemplo:</h3>
        <ul>
            <li><a href="/api/whoami">/api/whoami</a></li>
        </ul>
    </div>
</body>
</html>
